.product-header-divider {
    margin-left:10px;
    margin-right:10px;
    font-size: 5px;
    color:#999;
    position: relative;
    top:-2px;
}


.no-addons-text {
    font-size:16px;
}

#selectedproduct-view {
    margin-top:7px;
}

.config-header {
    clear:both;
    float:left;
    padding-bottom:20px;
    font-weight: 600;
}

.config-product-header {
    position: relative;
    top: -22px;
}

.config-header-data {
    font-size:13px;
    margin-left:10px;
    font-weight: 400;
}

.config-header-price {
    float:right;
}

.configuration-update-warning {
    clear:both;
    padding-top:20px;
    font-size:12px;
    color: #888;
}

.icon-asterisk {
    color: #f1c40f;
}

.selectedproduct-configuration-wrapper {

}

.selectedproduct-configuration-accordion {

    width: 340px;
}

.group-clone {

}

.accordion-inner {
    padding: 18px 16px 10px 16px;
}

.settings-inner {
    padding: 18px 19px 17px 16px;
}

.count-config{
    background-color: black;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -15px;
    width: 10px;
    display: inline-block;
    margin-top: -8px;
    margin-bottom: -8px;
}

.configuration-update-btn {

}

.configuration-update-wrap {
    margin-top:20px;
    text-align:right;
}

.field-description {
    margin-bottom:15px;
}