.icon-rss-sign {
    color: orange;
}

.anchor-rss-sign {
    text-decoration:  none !important;
}

.announcement {
    list-style: none;
    margin-top:35px;
    font-size: 15px;
}

.announcement-header {
    color : #333;
    margin-left: 22px;
}

.announcement-title {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 7px;
    margin-bottom: 5px;
    color: #333332;

    font-size: 28px;
    font-weight: 500;
    line-height: 1em;
}


.announcement-title a {
    text-decoration: none;
}

.announcement-title a:hover {
    border-bottom: 3px solid #f4f4f4;
}

.announcement-meta {
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    top: -8px;
    font-size: 13px;
    margin-bottom: 5px;
    padding-bottom: 8px;
    color: #999;
}

.announcement-footer-actions {
    margin-top:40px;
    margin-bottom:40px;
    padding-bottom: 5px;
    margin-left: 25px;
}

.announcement-twitter {
    color : #b3b3b1;
    font-size: 20px;
}

.btn-label {
    font-size: 13px;
    position: relative;
    top: -3px;
}

.read-more {
    font-size: 13px;
}