.ticket-log {
    clear:both;
}

.ticket-custom-fields {
    display:none;
    clear: both;
}

.ticket-log dl:nth-child(odd) {
    background: url(../../../../../templates/common/img/support/ticket_bg.png) repeat-y #FFF;
}
.ticket-log dl {
    display      : block;
    position     : relative;
    margin       : 0;
    overflow     : hidden;
    border-bottom: 1px solid #ccc;
    padding      : 20px 20px 20px 20px;
}
.ticket-log dl:nth-child(even) {
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow   : inset 0 1px 0 #fff;
    -ms-box-shadow    : inset 0 1px 0 #fff;
    -o-box-shadow     : inset 0 1px 0 #fff;
    box-shadow        : inset 0 1px 0 #fff;
    background        : url(../../../../../templates/common/img/support/ticket_bg.png) repeat-y #f4f4f4;
}
.ticket-log dl dt {
    display       : block;
    float         : left;
    width         : 40px;
    padding-right : 10px;
    vertical-align: bottom;
}

.ticket-log dl dt .avatar {
    border-radius: 50%;
    display      : block;
    width        : auto;
    height       : auto;
    float        : left;
    padding      : 4px;
    border       : 1px solid #ccc;
}

.ticket-log dl dt img {
    border-radius: 50%;
    border       : none;
    padding      : 0;
    max-width    : none;
    width        : 50px;
    display      : block;
}

.ticket-log .nameofuser {
    margin-top: -5px;
}

.ticket-log .nameofotheruser {
    color: rgb(197, 98, 6);
}

.ticket-log .msgtime {
    position     : absolute;
    right        : 0;
    color        : rgb(209, 209, 209);
    padding-right: 7px;
    font-weight  : 300;
}

.ticket-log dl dd:last-child {
    margin-bottom: 0;
}
.ticket-log dl dd {
    margin-left : 30px;
    display     : block;
    position    : relative;
    padding     : 0;
    padding-left: 45px;
    color       : #333;
    font-size   : 14px;
}

.ticket-comment {
    margin-top:20px;
}

.share-upload-desc {
    margin-bottom:10px;
}

textarea {
    border                     : 2px solid #bdc3c7;
    color                      : #34495e;
    font-family                : "Lato", sans-serif;
    font-size                  : 14px;
    padding                    : 8px 5px;
    height                     : 21px;
    text-indent                : 6px;
    -webkit-appearance         : none;
    -webkit-border-radius      : 6px;
    -moz-border-radius         : 6px;
    border-radius              : 6px;
    -webkit-box-shadow         : none;
    -moz-box-shadow            : none;
    box-shadow                 : none;
    -webkit-transition         : border .25s linear, color .25s linear;
    -moz-transition            : border .25s linear, color .25s linear;
    -o-transition              : border .25s linear, color .25s linear;
    transition                 : border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
}

textarea {
    height     : auto;
    font-size  : 14.994px;
    line-height: 24px;
    padding    : 5px 11px;
    text-indent: 0;
}

textarea[class*="span"] {
    width             : 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

.spacer-bottom {
    clear:both;
}


.meta-ticket-id{
    position: relative;
    top:20px;
}

.btn-danger {
    margin-right:10px;
}

.attatchment-image {
    margin-top:15px;
}

.ticket-nav-tabs {
    display:none;
    clear:both;
    position: relative;
    top: -10px;
}