<table class="table table-striped sortable">
    <thead>
        <tr>
            {{#headers}}
            <th>{{.}}</th>
            {{/headers}}
        </tr>
    </thead>
    <tbody>
        {{#data}}
        <tr>
            {{{extract}}}
        </tr>
        {{/data}}
    </tbody>
</table>


